<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AvalancheGames</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #8BD0EE; color: #292828 !important">
        <div class="container">
            <div class="navbar-header" style="background-color: #8BD0EE; color: #292828 !important">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#" class="navbar-left"><img src=" ~/Content/Images/AvalancheGamesLogoWithOutText.png" width="125" , height="75" /> </a>
                @*@Html.ActionLink("Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>
                        <a style="background-color: #8BD0EE; color: #292828 !important; font-size: 18px" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            About
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        </ul>
                        @if (User.IsInRole(Constants.AdminRoleName))
                        {
                        <li>@Html.ActionLink("Testing", "Index", "ErrorTest", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Users", "Index", "User", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>
                            <a style="background-color: #8BD0EE; color: #292828 !important; font-size: 18px" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Games
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Floaty", "Floaty", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("PongBall", "PongBall", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("Snake", "Snake", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                            </ul>
                        </li>


                        <li>
                            <a style="background-color: #8BD0EE; color: #292828 !important; font-size: 18px" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Comments
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Comments", "Index", "Comment", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("MyComments", "Index", "MyComments", new { area = "" }, new { @class = "navbar-brand" })</li>
                            </ul>
                        </li>

                        <li>
                            <a style="background-color: #8BD0EE; color: #292828 !important; font-size: 18px" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Scores
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Scores", "Index", "Score", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("MyScores", "Index", "MyScores", new { area = "" }, new { @class = "navbar-brand" }) </li>

                            </ul>
                        </li>



                    }
                    else if (User.IsInRole(Constants.PowerRoleName))
                    {

                        <li>
                            <a style="background-color: #8BD0EE; color: #292828 !important; font-size: 18px" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Games
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Floaty", "Floaty", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("PongBall", "PongBall", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("Snake", "Snake", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                            </ul>
                        </li>
                        <li>
                            <a style="background-color: #8BD0EE; color: #292828 !important; font-size: 18px" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Comments
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Comments", "Index", "Comment", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("MyComments", "Index", "MyComments", new { area = "" }, new { @class = "navbar-brand" })</li>
                            </ul>
                        </li>
                        <li>
                            <a style="background-color: #8BD0EE; color: #292828 !important; font-size: 18px" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Scores
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Scores", "Index", "Score", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("MyScores", "Index", "MyScores", new { area = "" }, new { @class = "navbar-brand" }) </li>

                            </ul>
                        </li>

                    }
                    else if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a style="background-color: #8BD0EE; color: #292828 !important; font-size: 18px" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Games
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Floaty", "Floaty", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("PongBall", "PongBall", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Snake", "Snake", "Game", new { area = "" }, new { @class = "navbar-brand" })</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("MyComments", "Index", "MyComments", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("MyScores", "Index", "MyScores", new { area = "" }, new { @class = "navbar-brand" }) </li>
                }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Welcome " + User.Identity.Name, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) </li>

                        if (User.Identity.AuthenticationType.StartsWith("ClearText"))
                        {
                            <li>@Html.ActionLink("HASH Password", "Hash", "Home")</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "RegisterUser", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    }

                </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="footer" style="color: #8BD0EE;">
                <p>&copy; @DateTime.Now.Year - AvalancheGames</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
