@model BusinessLogicLayer.UserBLL

@{
    ViewBag.Title = "Details";
}

<h2 class="pageheaders">Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt hidden>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd hidden>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt style="color:#FFFFFF">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt style="color:#FFFFFF">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt style="color:#FFFFFF">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt style="color:#FFFFFF">
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>



        <dt hidden>
            @Html.DisplayNameFor(model => model.SALT)
        </dt>

        <dd hidden>
            @Html.DisplayFor(model => model.SALT)
        </dd>

        <dt hidden>
            @Html.DisplayNameFor(model => model.HASH)
        </dt>

        <dd hidden>
            @Html.DisplayFor(model => model.HASH)
        </dd>

        <dt style="color:#FFFFFF">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt hidden>
            @Html.DisplayNameFor(model => model.RoleID)
        </dt>

        <dd hidden>
            @Html.DisplayFor(model => model.RoleID)
        </dd>

        <dt style="color:#FFFFFF">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "BluetextColor" }) |
    @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "BluetextColor" }) 
</p>
