@model IEnumerable<BusinessLogicLayer.CommentBLL>

@{
    ViewBag.Title = "Index";
    int PageNumber = ViewBag.PageNumber;
    int PageSize = ViewBag.PageSize;
    int TotalCount = ViewBag.TotalCount;
    int TotalPageButtonCount = ((TotalCount % PageSize == 0) ? 0 : 1) + TotalCount / PageSize;
    int CorrectedPageButtonCount = (TotalPageButtonCount > 9) ? 10 : TotalPageButtonCount;
}

<h2 class="pageheaders">My Comment</h2>
<p>
    @Html.ActionLink("Create New Comment", "Create", new { area = "" }, new { @class = "BluetextColor" })
</p>
@{
    for (int i = 0; i < CorrectedPageButtonCount; i++)
    {
        string classstring = (i == PageNumber) ? "btn btn-sm btn-info glyphicon glyphicon-star-empty" : "btn btn-sm btn-normal glyphicon glyphicon-star";
        @Html.ActionLink($"-Page {i}-", "Page", new { PageNumber = i, PageSize = PageSize }, new { @class = classstring });
    }
}
<table class="table">
    <tr style="color:#FFFFFF">
        <th hidden>
            @Html.DisplayNameFor(model => model.CommentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameComment)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.GameID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Liked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="color:#8BD0EE">
            <td hidden>
                @Html.DisplayFor(modelItem => item.CommentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameComment)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.GameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Liked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CommentID }, new { @class = "reroute" }) |
                @Html.ActionLink("Details", "Details", new { id = item.CommentID }, new { @class = "reroute" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CommentID }, new { @class = "reroute" })
            </td>
        </tr>
    }

</table>
